:root {
    --ColorBG:grey;
    --ColorNav:cadetblue;
    --ColorTitle:rgb(255, 255, 255);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: sans-serif;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

/* Ta nav barre */

#nav {
    width: 100%;
    height: 50px;
    background-color: var(--ColorNav);
    border-radius: 0 0 15px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
}

.titre {
    color:var(--ColorTitle)
}

#container {
    width: 100%;
    height: 100vh;
}

#btn-arrow {
    background-color: transparent;
    border-color: transparent;

    position: absolute;
    top: 1%;
    left:1%;
}
#arrow {
    height: 25px;
    width: 40px;
}






#card-id {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
@media only screen and (max-width: 630px) {
    #card-id {
        width: 100%;
        height: 100vh;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    body {
        overflow:scroll;
    }
  }

.card {
    border: solid 5px cadetblue;
    background-color: transparent;
    border-radius: 20px;

    height: 400px;
    width: 300px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.card:hover {
    background-color:rgb(238, 238, 238);
}
.card:active {
    background-color:rgb(238, 238, 238);
    border: solid 8px cadetblue;
}

.row {
    width: 80%;
    border: solid 2px cadetblue;
}

img {
    height: 70%;
    width: 100%;
    border-radius: 100px;
}